-- CreateTable
CREATE TABLE "cargo" (
    "id_cargo" SERIAL NOT NULL,
    "nombre_cargo" VARCHAR(100) NOT NULL,
    "salario_base" DECIMAL(10,2) NOT NULL,
    "descripcion" TEXT,
    "estado" VARCHAR(10) DEFAULT 'Activo',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cargo_pkey" PRIMARY KEY ("id_cargo")
);

-- CreateTable
CREATE TABLE "area" (
    "id_area" SERIAL NOT NULL,
    "nombre_area" VARCHAR(100) NOT NULL,
    "descripcion" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "area_pkey" PRIMARY KEY ("id_area")
);

-- CreateTable
CREATE TABLE "turno" (
    "id_turno" SERIAL NOT NULL,
    "hora_entrada" TIME(6) NOT NULL,
    "hora_salida" TIME(6) NOT NULL,
    "tipo_turno" VARCHAR(10) NOT NULL,
    "duracion_horas" DECIMAL(4,2),
    "estado" VARCHAR(10) DEFAULT 'Activo',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "turno_pkey" PRIMARY KEY ("id_turno")
);

-- CreateTable
CREATE TABLE "tipo_novedad" (
    "id_novedad_tipo" SERIAL NOT NULL,
    "codigo" VARCHAR(10) NOT NULL,
    "nombre_novedad" VARCHAR(60) NOT NULL,
    "descripcion" TEXT,
    "afecta_pago" BOOLEAN DEFAULT false,
    "activo" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tipo_novedad_pkey" PRIMARY KEY ("id_novedad_tipo")
);

-- CreateTable
CREATE TABLE "tipo_recargo" (
    "id_recargo_tipo" SERIAL NOT NULL,
    "codigo" VARCHAR(10) NOT NULL,
    "nombre_recargo" VARCHAR(60) NOT NULL,
    "porcentaje_recargo" DECIMAL(5,2) NOT NULL,
    "descripcion" TEXT,
    "activo" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tipo_recargo_pkey" PRIMARY KEY ("id_recargo_tipo")
);

-- CreateTable
CREATE TABLE "parametrizacion" (
    "id_parametro" SERIAL NOT NULL,
    "nombre_parametro" VARCHAR(100) NOT NULL,
    "horas_maximas" DECIMAL(6,2),
    "descripcion" TEXT,
    "periodicidad" VARCHAR(20),
    "fecha_actualizacion" DATE,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "valor_texto" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "parametrizacion_pkey" PRIMARY KEY ("id_parametro")
);

-- CreateTable
CREATE TABLE "empleado" (
    "id_empleado" SERIAL NOT NULL,
    "cedula" VARCHAR(20) NOT NULL,
    "nombre1" VARCHAR(50) NOT NULL,
    "nombre2" VARCHAR(50),
    "apellido1" VARCHAR(50) NOT NULL,
    "apellido2" VARCHAR(50),
    "edad" SMALLINT,
    "sexo" CHAR(1),
    "vehiculo" BOOLEAN DEFAULT false,
    "id_cargo" INTEGER NOT NULL,
    "id_estado" INTEGER DEFAULT 1,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "empleado_pkey" PRIMARY KEY ("id_empleado")
);

-- CreateTable
CREATE TABLE "usuario" (
    "id_usuario" SERIAL NOT NULL,
    "usuario" VARCHAR(50) NOT NULL,
    "contrasenia" VARCHAR(255) NOT NULL,
    "tipo_usuario" VARCHAR(20) NOT NULL,
    "nombre_completo" VARCHAR(120) NOT NULL,
    "estado" VARCHAR(10) DEFAULT 'Activo',
    "fecha_creacion" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "id_empleado" INTEGER,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "usuario_pkey" PRIMARY KEY ("id_usuario")
);

-- CreateTable
CREATE TABLE "labor_mes" (
    "id_labor_mes" SERIAL NOT NULL,
    "id_empleado" INTEGER NOT NULL,
    "fecha_inicio" DATE NOT NULL,
    "fecha_fin" DATE NOT NULL,
    "horas_mes" DECIMAL(6,2),
    "estado" VARCHAR(15) DEFAULT 'Abierto',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "labor_mes_pkey" PRIMARY KEY ("id_labor_mes")
);

-- CreateTable
CREATE TABLE "novedad_empleado" (
    "id_novedad_empleado" SERIAL NOT NULL,
    "id_empleado" INTEGER NOT NULL,
    "id_novedad_tipo" INTEGER NOT NULL,
    "id_labor_mes" INTEGER,
    "fecha_solicitud" DATE NOT NULL,
    "fecha_registro" DATE NOT NULL,
    "fecha_vencimiento" DATE,
    "etapa" VARCHAR(15) NOT NULL,
    "id_usuario" INTEGER,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "novedad_empleado_pkey" PRIMARY KEY ("id_novedad_empleado")
);

-- CreateTable
CREATE TABLE "detalle_novedad" (
    "id_detalle_novedad" SERIAL NOT NULL,
    "id_novedad_empleado" INTEGER NOT NULL,
    "fecha" DATE NOT NULL,
    "cantidad" DECIMAL(5,2),
    "observaciones" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "detalle_novedad_pkey" PRIMARY KEY ("id_detalle_novedad")
);

-- CreateTable
CREATE TABLE "recargo" (
    "id_recargo" SERIAL NOT NULL,
    "id_detalle_programacion" INTEGER NOT NULL,
    "fecha_inicio" DATE NOT NULL,
    "fecha_fin" DATE NOT NULL,
    "total_horas" DECIMAL(5,2),
    "total_dinero" DECIMAL(10,2),
    "total_diurno" DECIMAL(5,2),
    "dominicales" SMALLINT DEFAULT 0,
    "festivos" SMALLINT DEFAULT 0,
    "hed" DECIMAL(5,2) DEFAULT 0,
    "hen" DECIMAL(5,2) DEFAULT 0,
    "rno" DECIMAL(5,2) DEFAULT 0,
    "rnf" DECIMAL(5,2) DEFAULT 0,
    "heon" DECIMAL(5,2) DEFAULT 0,
    "hefd" DECIMAL(5,2) DEFAULT 0,
    "hefn" DECIMAL(5,2) DEFAULT 0,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "recargo_pkey" PRIMARY KEY ("id_recargo")
);

-- CreateTable
CREATE TABLE "detalle_recargo" (
    "id_detalle_recargo" SERIAL NOT NULL,
    "id_recargo" INTEGER NOT NULL,
    "id_recargo_tipo" INTEGER NOT NULL,
    "horas_registradas" DECIMAL(5,2) NOT NULL,
    "observaciones" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "detalle_recargo_pkey" PRIMARY KEY ("id_detalle_recargo")
);

-- CreateTable
CREATE TABLE "estados_empleado" (
    "id_estado" SERIAL NOT NULL,
    "nombre_estado" VARCHAR(30) NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "estados_empleado_pkey" PRIMARY KEY ("id_estado")
);

-- CreateTable
CREATE TABLE "mes" (
    "id_mes" SERIAL NOT NULL,
    "nombre_mes" VARCHAR(20) NOT NULL,
    "numero_mes" SMALLINT NOT NULL,
    "anio" SMALLINT NOT NULL,
    "fecha_inicio" DATE NOT NULL,
    "fecha_fin" DATE NOT NULL,
    "estado" VARCHAR(15) DEFAULT 'Abierto',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "mes_pkey" PRIMARY KEY ("id_mes")
);

-- CreateTable
CREATE TABLE "empleado_area" (
    "id_empleado" INTEGER NOT NULL,
    "id_area" INTEGER NOT NULL,

    CONSTRAINT "empleado_area_pkey" PRIMARY KEY ("id_empleado","id_area")
);

-- CreateIndex
CREATE UNIQUE INDEX "cargo_nombre_cargo_key" ON "cargo"("nombre_cargo");

-- CreateIndex
CREATE UNIQUE INDEX "area_nombre_area_key" ON "area"("nombre_area");

-- CreateIndex
CREATE UNIQUE INDEX "tipo_novedad_codigo_key" ON "tipo_novedad"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "tipo_recargo_codigo_key" ON "tipo_recargo"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "parametrizacion_nombre_parametro_key" ON "parametrizacion"("nombre_parametro");

-- CreateIndex
CREATE UNIQUE INDEX "empleado_cedula_key" ON "empleado"("cedula");

-- CreateIndex
CREATE INDEX "idx_empleado_cargo" ON "empleado"("id_cargo");

-- CreateIndex
CREATE INDEX "idx_empleado_estado" ON "empleado"("id_estado");

-- CreateIndex
CREATE INDEX "idx_empleado_cedula" ON "empleado"("cedula");

-- CreateIndex
CREATE UNIQUE INDEX "usuario_usuario_key" ON "usuario"("usuario");

-- CreateIndex
CREATE UNIQUE INDEX "usuario_id_empleado_key" ON "usuario"("id_empleado");

-- CreateIndex
CREATE INDEX "idx_usuario_empleado" ON "usuario"("id_empleado");

-- CreateIndex
CREATE INDEX "idx_labor_mes_empleado" ON "labor_mes"("id_empleado");

-- CreateIndex
CREATE INDEX "idx_labor_mes_fechas" ON "labor_mes"("fecha_inicio", "fecha_fin");

-- CreateIndex
CREATE INDEX "idx_novedad_empleado" ON "novedad_empleado"("id_empleado");

-- CreateIndex
CREATE INDEX "idx_novedad_tipo" ON "novedad_empleado"("id_novedad_tipo");

-- CreateIndex
CREATE INDEX "idx_detalle_novedad_nov" ON "detalle_novedad"("id_novedad_empleado");

-- CreateIndex
CREATE INDEX "idx_recargo_detalle" ON "recargo"("id_detalle_programacion");

-- CreateIndex
CREATE INDEX "idx_detalle_recargo_recargo" ON "detalle_recargo"("id_recargo");

-- CreateIndex
CREATE UNIQUE INDEX "detalle_recargo_id_recargo_id_recargo_tipo_key" ON "detalle_recargo"("id_recargo", "id_recargo_tipo");

-- CreateIndex
CREATE UNIQUE INDEX "estados_empleado_nombre_estado_key" ON "estados_empleado"("nombre_estado");

-- CreateIndex
CREATE UNIQUE INDEX "mes_numero_mes_anio_key" ON "mes"("numero_mes", "anio");

-- AddForeignKey
ALTER TABLE "empleado" ADD CONSTRAINT "empleado_id_cargo_fkey" FOREIGN KEY ("id_cargo") REFERENCES "cargo"("id_cargo") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "empleado" ADD CONSTRAINT "empleado_id_estado_fkey" FOREIGN KEY ("id_estado") REFERENCES "estados_empleado"("id_estado") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usuario" ADD CONSTRAINT "usuario_id_empleado_fkey" FOREIGN KEY ("id_empleado") REFERENCES "empleado"("id_empleado") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "labor_mes" ADD CONSTRAINT "labor_mes_id_empleado_fkey" FOREIGN KEY ("id_empleado") REFERENCES "empleado"("id_empleado") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "novedad_empleado" ADD CONSTRAINT "novedad_empleado_id_empleado_fkey" FOREIGN KEY ("id_empleado") REFERENCES "empleado"("id_empleado") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "novedad_empleado" ADD CONSTRAINT "novedad_empleado_id_labor_mes_fkey" FOREIGN KEY ("id_labor_mes") REFERENCES "labor_mes"("id_labor_mes") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "novedad_empleado" ADD CONSTRAINT "novedad_empleado_id_novedad_tipo_fkey" FOREIGN KEY ("id_novedad_tipo") REFERENCES "tipo_novedad"("id_novedad_tipo") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "novedad_empleado" ADD CONSTRAINT "novedad_empleado_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuario"("id_usuario") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "detalle_novedad" ADD CONSTRAINT "detalle_novedad_id_novedad_empleado_fkey" FOREIGN KEY ("id_novedad_empleado") REFERENCES "novedad_empleado"("id_novedad_empleado") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "detalle_recargo" ADD CONSTRAINT "detalle_recargo_id_recargo_fkey" FOREIGN KEY ("id_recargo") REFERENCES "recargo"("id_recargo") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "detalle_recargo" ADD CONSTRAINT "detalle_recargo_id_recargo_tipo_fkey" FOREIGN KEY ("id_recargo_tipo") REFERENCES "tipo_recargo"("id_recargo_tipo") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "empleado_area" ADD CONSTRAINT "empleado_area_id_empleado_fkey" FOREIGN KEY ("id_empleado") REFERENCES "empleado"("id_empleado") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "empleado_area" ADD CONSTRAINT "empleado_area_id_area_fkey" FOREIGN KEY ("id_area") REFERENCES "area"("id_area") ON DELETE CASCADE ON UPDATE NO ACTION;

